.title {
  font-size: calc(var(--index) * 7);
  font-weight: 800;
  margin-bottom: calc(var(--index) * 5);
}

.colors {
  display: inline-grid;
  gap: calc(var(--index) * 2.5);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.color {
  --transform: translate(
    calc(var(--translate-x-ratio) * var(--x-position) * 0.03),
    calc(var(--translate-y-ratio) * var(--y-position) * 0.03)
  );
  width: calc(var(--index) * 10);
  height: auto;
  transition: transform ease-out 0.5s;
  transform: var(--transform);
  will-change: transform;
  cursor: pointer;
}

.color:hover {
  transform: var(--transform) scale(1.1);
}
