.title {
  font-size: calc(var(--index) * 9);
  font-weight: 800;
  margin-bottom: calc(var(--index) * 5);
  line-height: 1;
}

.images {
  display: inline-grid;
  gap: calc(var(--index) * 3);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}

.image {
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 15);
  transition: transform ease-out .2s;
  will-change: transform;
  cursor: pointer;
}

.image:nth-child(1),
.image:nth-child(3),
.image:nth-child(4),
.image:nth-child(6),
.image:nth-child(7),
.image:nth-child(9) {
  transform: translateY(calc(var(--scroll-top) * 0.06));
}
.image:nth-child(1):hover,
.image:nth-child(3):hover,
.image:nth-child(4):hover,
.image:nth-child(6):hover,
.image:nth-child(7):hover,
.image:nth-child(9):hover {
  transform: translateY(calc(var(--scroll-top) * 0.06)) scale(1.06);
}
.image:nth-child(2),
.image:nth-child(5),
.image:nth-child(8) {
  transform: translateY(calc(var(--scroll-top) * -0.06));
}
.image:nth-child(2):hover,
.image:nth-child(5):hover,
.image:nth-child(8):hover {
  transform: translateY(calc(var(--scroll-top) * -0.06)) scale(1.06);
}
