* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karantina', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

input {
  font-family: 'Karantina', cursive;
}
