.root {
  padding: calc(var(--index) * 3) 0 calc(var(--index) * 5);
  display: none;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
